* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #232946;
  font-family: sans-serif;
}
.container {
  padding: 0 50px;
  background-color: #232946;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
  color: #fffffe;
}
.menu {
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  transition: 0.3s all ease-in;
}
.menu:hover {
  background-color: black;
  color: antiquewhite;
}
.navdown {
  display: none;
}
main {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  width: 100%;
}
main img {
  height: 200px;
  width: 100%;
  border: 2px solid #121629;
  border-radius: 5%;
}
main h1 {
  color: #fffffe;
}
main p {
  color: #b8c1ec;
  line-height: 1.6;
  padding-right: 10px;
  text-align: justify;
}
@media (max-width: 600px) {
  nav {
    position: relative;
  }
  ul {
    padding: 0 50px;
    max-height: 0;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    top: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #232946;
    transition: max-height 0.5s ease-in-out;
  }

  ul.open {
    max-height: 300px;
  }
  .navdown {
    display: block;
  }
  #cross {
    display: none;
  }
}
