* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
.container {
  padding: 0 50px;
  background: linear-gradient(to right, orange, rgb(7, 155, 253));
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.menu {
  border: 2px solid;
  padding: 8px;
  border-radius: 20px;
  transition: 0.3s all ease-in;
}
.menu:hover {
  background-color: black;
  color: antiquewhite;
}
.navdown {
  display: none;
}

@media (max-width: 600px) {
  nav {
    position: relative;
    padding: 0 50px;
  }
  ul {
    padding: 0 50px;
    max-height: 0;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    top: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(to right, orange, rgb(7, 155, 253));
    transition: max-height 0.5s ease-in-out;
  }

  ul.open {
    max-height: 300px;
  }

  .container {
    padding: 0;
  }
  .navdown {
    display: block;
  }
  #cross {
    display: none;
  }
}
